---
title: Élmények
description: Válassz saját kalandot az általunk gondosan összeállított élménycsomagokból!
image: images/parna.jpg
lang: hu
ref: experience
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Élmények</h1>
			<p class="subtext editable">Válassz saját kalandot az általunk gondosan összeállított élménycsomagokból!</p>
		</div>
	</div>
</section>




<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Servus Mini</h2>
			<h3 class="editable">Foglalás: <i>2 nap - 1 éjszaka</i></h3>
			<h3 class="editable">Csomag ára: <i>18.000 Ft/Fő</i></h3>
			<p class="editable">A csomagot azoknak ajánluk akiknek csak kevés idejük van, de szeretnék a legtöbbet megtapasztalni a környék adottságaiból. </p>
			<ul>
			<li>1 éjszaka  szállás SERVUS villa kényelmes szobáink egyikében</li>
	<li>Bőséges büféreggeli</li>
	<li>Fejenként 1 napra szóló fürdőbelépő a csisztai gyógyfürdőbe</li>
	<li>1 alkalomra szóló  borvacsora jegy, borkóstolóval, tájjelegű vacsorával, bemutatóval.</li>
	<li>Ingyenes parkolás</li>
	<li>Ingyenes WIFI szolgáltatás a szállás egész területén</li>
	<li>Transzfer - A szállás és a programhelyszínek között biztosítjuk a kényelmes utazást</li>
	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/room-szalon.jpg" alt="Szoba" />
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Servus Weekender</h2>
					<h3 class="editable">Foglalás: <i>3 nap - 2 éjszaka</i></h3>
					<h3 class="editable">Csomag ára: <i>25.000 Ft/Fő</i></h3>
					<p class="editable">A program résztvevői betekinthetnek a környék gazdag történetébe és megtapasztalhatják a helyi emberek legendás vendégszeretetét.  </p>
					<ul>
					<li>2 éjszaka  szállás SERVUS villa kényelmes szobáink egyikében</li>
			<li>Bőséges büféreggeli</li>
			<li>Fejenként 1 napra szóló fürdőbelépő a csisztai gyógyfürdőbe</li>
			<li>1 alkalomra szóló  borvacsora jegy, borkóstolóval, tájjelegű vacsorával, bemutatóval.</li>
			<li>Kirándulás Pogányvölgye legjelentősebb történelmi emlékhelyeihez</li>
			<li>Ingyenes parkolás</li>
			<li>Ingyenes WIFI szolgáltatás a szállás egész területén</li>
			<li>Transzfer - A szállás és a programhelyszínek között biztosítjuk a kényelmes utazást</li>
			</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-ut.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Servus Maximus</h2>
					<h3 class="editable">Foglalás: <i>5 nap - 4 éjszaka</i></h3>
					<h3 class="editable">Csomag ára: <i>40.000 Ft/Fő</i></h3>
					<p class="editable">A maximalisták programja, Minden amit Pogányvölgye adhat. </p>
					<ul>
					<li>4 éjszaka  szállás SERVUS villa kényelmes szobáink egyikében</li>
			<li>Bőséges büféreggeli</li>
			<li>Fejenként 3 napra szóló fürdőbelépő a csisztai gyógyfürdőbe</li>
			<li>1 alkalomra szóló  borvacsora jegy, borkóstolóval, tájjelegű vacsorával, bemutatóval.</li>
			<li>Kirándulás Pogányvölgye legjelentősebb történelmi emlékhelyeihez</li>
	<li>Berek Szafari a Nagyberekben aminek különleges élövilága Fekete Istvánt is megihlette</li>
			<li>Ingyenes parkolás</li>
			<li>Ingyenes WIFI szolgáltatás a szállás egész területén</li>
			<li>Transzfer - A szállás és a programhelyszínek között biztosítjuk a kényelmes utazást</li>
			</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-pipacs.jpg" alt="Szoba" />
				</div>
			</div>
		</section>


	</div>
</section>
