---
title: Surroundings
description: Plains, lakes and winyards
image: images/taj.jpg
lang: en
ref: environment
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Vendégházak</h1>
			<p class="subtext editable">A Servus házakban stílusosan pihenhetsz a somogyi dombok ölelésében</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
				<div class="container flex">
					<div class="text">
						<h2 class="editable">Environment</h2>
						<p class="editable">	The drumming of the southern shore of Lake Balaton lies in the embrace of the fishponds and vineyards of North Somogy, Pogányvölgye, a homeland of special local traditions and natural values. The area has been inhabited since the earliest times of Hungarian history and is known to many as the backbone of Koppány's old pagan faith. The name of the area also points to the fact that the historical relics of the region bring about more than a thousand years of history. The area offers programs for visitors throughout the year. The historical memory of Somogyvár and the Árpád-era church in Gyugy are the must-see for historians. They also have attractions for the area looking for the treasures of nature. The fish ponds in Haci or the "Hungarian Sea" offer excellent recreational opportunities. Lengyeltóti, the center of the region, is a really small jewel box where the air parks and the wineries bordering the city with everyone




						 </p>
							</div>
					<div class="image">
						<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
					</div>
				</div>
		</section>




	</div>
</section>
