---
title: Experiences
description: Choose your own advanture from our carefully curated packages
image: images/parna.jpg
lang: en
ref: rooms
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Experiences</h1>
			<p class="subtext editable">Choose your own advanture from our carefully curated packages.</p>
		</div>
	</div>
</section>




<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Servus Mini</h2>
			<p class="editable">If you can only spend one night with us but still want to see the most of the area we got you covered.</p>
<div class="cta button alt"><a href="http://servushotel.eu/contact/">Contact Us</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/room-szalon.jpg" alt="Szoba" />
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Servus Weekender</h2>
					<p class="editable">Double room for two people</p>
<div class="cta button alt"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Book now</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-ut.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Servus Maximus</h2>
					<p class="editable">Room for three people with one double bed and one single.</p>
<div class="cta button alt"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Book now</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-pipacs.jpg" alt="Szoba" />
				</div>
			</div>
		</section>


	</div>
</section>
