---
title: Experiences
description: Choose your own adventure from our carefully curated packages
image: images/parna.jpg
lang: en
ref: experience
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Experiences</h1>
			<p class="subtext editable">Choose your own adventure from our carefully curated packages</p>
		</div>
	</div>
</section>




<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Servus Mini</h2>
			<h3 class="editable">Duration: <i>2 days - 1 night</i></h3>
			<h3 class="editable">Price: <i>18.000 HUF/person</i></h3>
			<p class="editable">This package is for those who have only a little time but would like to make the most of it. </p>
			<ul>
	<li>1 night of accomodation in one of the comfortable rooms in the Servus Villa</li>
	<li>Large brekfast</li>
	<li>One unlimited ticket per person to the Csiszta Spa</li>
	<li>Wine tasting event with local snacks</li>
	<li>Free parkin</li>
	<li>Free Wifi in the villa</li>
	<li>Transfer - comfortable transportation netween the accomodation and the prorgammes</li>
	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us to book this experience</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/room-szalon.jpg" alt="Szoba" />
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Servus Mini</h2>
					<h3 class="editable">Duration: <i>3 nap - 2 éjszaka</i></h3>
					<h3 class="editable">Price: <i>25.000 HUF/person</i></h3>
					<p class="editable">Visit historical sights and taste the local cuisine on a long weekend in Pogányvölgye  </p>
					<ul>

						<li>2 night of accomodation in one of the comfortable rooms in the Servus Villa</li>
			<li>Large brekfast</li>
			<li>One unlimited ticket per person to the Csiszta Spa</li>
			<li>Wine tasting event with local snacks</li>
			<li>Excursion to the most significant historical sights of Pogányvölgye</li>
			<li>Free parkin</li>
			<li>Free Wifi in the villa</li>
			<li>Transfer - comfortable transportation netween the accomodation and the prorgammes</li>
			</ul>
<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us to book this experience</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-ut.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Servus Maximus</h2>
					<h3 class="editable">Duration: <i>5 days - 4 nights</i></h3>
					<h3 class="editable">Price: <i>40.000 Huf/person</i></h3>
					<p class="editable">An experience for the maximalists. </p>
					<ul>

			<li>2 night of accomodation in one of the comfortable rooms in the Servus Villa</li>
<li>Large brekfast</li>
<li>Three unlimited ticket per person to the Csiszta Spa</li>
<li>Wine tasting event with local snacks</li>
<li>Grove Safari - excursion in the Great Groves where the ecosystem inspired authors like István Fekete</li>
<li>Excursion to the most significant historical sights of Pogányvölgye</li>
<li>Free parkin</li>
<li>Free Wifi in the villa</li>
<li>Transfer - comfortable transportation netween the accomodation and the prorgammes</li>
			</ul>
<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us to book this experience</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-pipacs.jpg" alt="Szoba" />
				</div>
			</div>
		</section>


	</div>
</section>
