---
title: Guesthouse
description: Servus is a stylish guesthouse in Somogy county and this is our story.
image: images/haz4.jpg
lang: en
ref: guesthouse
---



<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Guesthouses</h1>
			<p class="subtext editable">Stylish guesthouses in Lengyeltóti</p>
		</div>
	</div>
</section>


		<section class="pad">
			<div class="container">
				<section class="info">
						<div class="container flex">
							<div class="text">
								<h2 class="editable">Location</h2>
								<p class="editable">We have three guesthouses waiting for you in the town of Lengyeltóti. All ouf our houses have a very destict decor and have been designed with different gust types in mind.  Even though all the places are a different world they are very close phisically and in a very easily walkable distance.

								 </p>
									</div>
							<div class="image">
								<img class="editable" src="{% include relative-src.html%}images/terkep.jpg" alt="Map" />
							</div>
						</div>
				</section>


				<section class="info">
						<div class="container flex">
							<div class="text">
								<h2 class="editable">Servus 4</h2>
								<p class="editable">Lengyeltóti and Pogányvölgy were inhabited since the Árpád era. In the middle ages, the settlement was the ancient nest and estate of the famous Polish Tóti family, and from there it was later named Lengyeltóti.

								 </p>
									</div>
							<div class="image">
								<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
							</div>

						</div>
				</section>

				<section class="info">
						<div class="container flex">
							<div class="text">
													Later, partly in the form of a reception, partly by inheritance, the Inkey family remained in the Inkey family until 1860, when it was replaced by the Zichy family. In the early 1900s, Count Béla Zichy had the largest estate and two castles here.

						The Zichy family was a good master of the countryside, many improvements were made in their time. In 1895, the count donated a bigger amount to the public good for further developments. In addition to the district court in the town center, the residence of the district judge was built in this year's millennium.

						The house was subsequently inhabited by the district attorneys and high-ranking public servants, and served as a place of vibrant social life. To this he contributed to the fact that the casino building was located just across the street from the street and had been at least one of the neighborhoods that had something to do with it.	</div>
					</div>
			</section>

	</div>
</section>
