---
title: Guesthouse
description: Servus is a stylish guesthouse in Somogy county and this is our story.
image: images/haz4.jpg
lang: en
ref: guesthouse
---



<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Guesthouse</h1>
			<p class="subtext editable">Stylish guesthouse in Lengyeltóti</p>
		</div>
	</div>
</section>


		<section class="pad">
			<div class="container">
				<section class="info">
						<div class="container flex">
							<div class="text">
								<h2 class="editable">Location</h2>
								<p class="editable">The guesthouse is waiting for you in the town of Lengyeltóti. Our house have a very destinct decor and have been designed with different guest types in mind. 

								 </p>
									</div>
							<div class="image">
								<img class="editable" src="{% include relative-src.html%}images/terkep.jpg" alt="Map" />
							</div>
						</div>
				</section>


				<section class="info">
						<div class="container flex">
							<div class="text">
								<h2 class="editable">Servus 4</h2>
								<p class="editable">Lengyeltóti and Pogányvölgy were inhabited since the Árpád era. In the middle ages, the settlement was the ancient nest and estate of the famous Polish Tóti family, and from there it was later named Lengyeltóti. Later, partly in the form of a reception, partly by inheritance, the Inkey family remained in the Inkey family until 1860, when it was replaced by the Zichy family. In the early 1900s, Count Béla Zichy had the largest estate and two castles here.

								 </p>
									</div>
							<div class="image">
								<img class="editable" src="{% include relative-src.html%}images/servus4.jpg" alt="Terasz" />
							</div>

						</div>
				</section>

				<section class="info">
						<div class="container flex">
							<div class="text"><p class="editable">
																			The Zichy family was a good master of the countryside, many improvements were made in their time. In 1895, the count donated a bigger amount to the public good for further developments. In addition to the district court in the town center, the residence of the district judge was built in this year's millennium.

						The house was subsequently inhabited by the district attorneys and high-ranking public servants, and served as a place of vibrant social life. To this he contributed to the fact that the casino building was located just across the street from the street and had been at least one of the neighborhoods that had something to do with it.</p>	</div>
					</div>
			</section>



			<section class="info">
					<div class="container flex">
						<div class="text">
							<h2 class="editable">Servus 6</h2>
							<p class="editable">The building was designed with larger groups and younger guests in mind. The interior is decorated in an industrial and utilitarian  style. The rooms in the house have a dedicated bathroom, however the bathrooms are not inside the rooms they open from a corridor, but only your room's key will open it.

							 </p>
								</div>
						<div class="image">
							<img class="editable" src="{% include relative-src.html%}images/servus6.jpg" alt="Terasz" />
						</div>

					</div>
			</section>

			<section class="info">
					<div class="container flex">
						<div class="text"><p class="editable">We recommend this building for groups that travel together or bigger families with children. The yard has many games and </p>	</div>
				</div>
		</section>

		<section class="info">
				<div class="container flex">
					<div class="text">
						<h2 class="editable">Servus 34</h2>
						<p class="editable">The building was designed with couples in mind. The interior is decorated to a high standard and every room has a unique theme. The rooms in this building are either double or twin rooms with no possibility for extra beds however a baby cot can fit in the rooms. The rooms have private bathrooms with shower. The backyard has a playroom and small playground  in the yard for our guests with children.

						 </p>
							</div>
					<div class="image">
						<img class="editable" src="{% include relative-src.html%}images/servus34.jpg" alt="Terasz" />
					</div>

				</div>
		</section>

		<section class="info">
				<div class="container flex">
					<div class="text"><p class="editable">This location also has two small wooden cabins available to rent in the yard. These cabins are only available in the summer time as they are not heated. The cabins have access to bathrooms located in the house that can be accessed through the patio.</p>	</div>
			</div>
	</section>




	</div>
</section>
