---
title: Home
description: Stylish guesthouse in Lengyeltóti, Hungary
image: images/double-ensuite.jpg
bottom_image: images/taj.jpg
lang: en
ref: home
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Servus!</h1>
			<p class="subtext editable">Stylish guesthouse surrounded by rolling hills and calm lakes</p>
			<div class="cta button alt"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Visit now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="https://www.booking.com/Share-xOF1hw">Book now<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

	<section class="info">
					<!--Booking Engine Start--><script data-cfasync="false" src="https://ibe.sabeeapp.com/bewidget.php?id=1fb19b5db0434b4064c1a68f61fc23ca" type="text/javascript"></script><!--Booking Engine End-->
					</section>

<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Guesthouse</h2>
				<p class="editable">Our three stílish rooms are waiting for our guest surrounded by the natural values of the Pogány valley. On top of providing quality lodging we offer many other services including bus transfer, breakfast and even discount tickets to local attracktions.</p>
					</div>
			<div class="image">
				<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
			</div>
		</div>
</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Stylish interior</h2>
				<p class="editable">If you ever think that you should quit the rut and take a pause, come and visit us. In our guesthouse the harmony of the surroundings and the style guarantees a calm and realxing environment for our guests seeking refuge from the monotony of daily work.</p>

			</div>
			<div class="image">
				<img class="editable" src="{% include relative-src.html%}images/szoba.jpg" alt="Szoba" />
			</div>
		</div>
	</section>

	<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Activities for everyone</h2>
					<p class="editable">For those looking to spend their time actively Lengyeltóti offers many opportunities. The Csalogány swimming pool is open all year around and welcomes any guests who would like to swin a few laps. The rolling hills in the area offer a great opportunity for cyclists and ramblers to explore the nature easily. We can provide rental bikes to help explore the sites like Somogyvár, the Great Groves or the Lake Balaton.</p>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/orszagut.jpg" alt="Országút" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Thermal bath</h2>
					<p class="editable">Only about 10km away from our guesthouse you can find the thermal bath of Csisztapuszta. It is well renowned for it's thermal water that has proven to have many health benefits. Guests visit the bath from all over the world to seek remedy for various conditions including joint aches, back aches, stomach and gut problems among many things.</p>

				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/csiszta.jpg" alt="Csisztapuszta gyógyfürdő" />
				</div>
			</div>
		</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Book your room today</h2>
				<p class="subtext editable">Browse the available rooms in our online booking system</p>
				<div class="cta button alt"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Book now</a></div>
			</div>
		</div>
	</section>
</div>
