---
title: Környezet
description: Puszták, tavak és szőlőlugasok
image: images/taj.jpg
lang: hu
ref: environment
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Környezet</h1>
			<p class="subtext editable">Puszták, tavak és szőlőlugasok</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
				<div class="container flex">
					<div class="text">
						<h2 class="editable">Környék</h2>
						<p class="editable">	A Balaton déli partjának dobjai, Észak-Somogy halastavai és szőlőlugasai ölelésében fekszik Pogányvölgye, különleges helyi hagyományok és természeti értékek őshazája. A terület a magyar történelem legkorábbi ideje óta lakott és az ősi pogány hitet valló Koppány vezér hátországaként lehet ismerős többeknek. A térség elnevezése is utal arra, hogy a környéken fellelhető történelmi emlékek több mint egy évezred történéseit hozzák karnyújtásnyi távolságra. A környék egész éven át nyújt programokat az ide látogatóknak.	Történelem rajongóknak kihagyhatatlan Somogyvár történelmi emlékhelye és az Árpád-kori templom Gyugyon. Azoknak is tartogat látványosságokat a terület akik a természet kincseit keresik. A halastavak Hácson vagy a „magyar tenger” kiváló kikapcsolódási lehetőséget nyújtanak. Lengyeltóti a térség központja egy igazi kis ékszerdoboz ahol a levegős parkok és a város határában lévő borászatok mindenkivel




						 </p>
							</div>
					<div class="image">
						<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
					</div>
				</div>
		</section>




	</div>
</section>
