---
title: Home
description: The latest app to help you find new friends with common interests.
image: images/taj.jpg
bottom_image: images/haz.jpg
lang: hu
ref: home
---




<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Szervusz!</h1>
			<p class="subtext editable">Örülünk hogy itt vagy!</p>
			<div class="cta button alt"><a href="#">Irány Tóti</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Foglalás most<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

	<section class="info">
					<!--Booking Engine Start--><script data-cfasync="false" src="https://ibe.sabeeapp.com/bewidget.php?id=1fb19b5db0434b4064c1a68f61fc23ca" type="text/javascript"></script><!--Booking Engine End-->
					</section>

<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Jobb mint otthon</h2>
				<p class="editable">Szervusz</p>
			</div>
			<div class="image">
				<img class="editable" src="images/szoba.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Valami</h2>
				<p class="editable">hello hello</p>
			</div>
			<div class="image">
				<img class="editable" src="images/terasz.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Ide jön még jobb szöveg</h2>
					<p class="editable">Városi rang</p>
				</div>
				<div class="image">
					<img class="editable" src="images/szoba.jpg" alt="Screenshot" />
				</div>
			</div>
		</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Foglalj szállást még ma</h2>
				<p class="subtext editable">Kihagyhatatlan ajánlatok</p>
				<div class="cta button alt"><a href="#">Lefoglalom</a></div>
			</div>
		</div>
	</section>
</div>
