---
title: Nyitólap
description: The latest app to help you find new friends with common interests.
image: images/haz3.jpg
bottom_image: images/taj.jpg
lang: hu
ref: home
---




<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Servus!</h1>
			<p class="subtext editable">Újra várunk biztonságos és stílusos vendégházainkban</p>
			<div class="cta button alt"><a href="https://ibe.sabeeapp.com/properties/Servus-foglalás/?p=bSp147edacc1b4d69a6&l=hu">Irány Tóti</a></div> <div class="cta button"><a href="http://servushotel.eu/tajekoztato/">Tájékoztató biztonsági intézkedéseinkről</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="https://www.booking.com/Share-xOF1hw">Foglalás most<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

	<section class="info">
					<!--Booking Engine Start--><script data-cfasync="false" src="https://ibe.sabeeapp.com/bewidget.php?id=1fb19b5db0434b4064c1a68f61fc23ca" type="text/javascript"></script><!--Booking Engine End-->
					</section>

<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Vendégház</h2>
				<p class="editable">Pogányvölgy természeti csodáinak ölelésében, három, stílusosan berendezett szobával várjuk a pihenésre váró vendégeinket. Szálláson kívül félpanziós ellátást kínálunk, transzfert a programhelyekre és kedvezményes belépőket a környékbeli látnivalókhoz.</p>
					</div>
			<div class="image">
				<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Stílusos belső tér</h2>
				<p class="editable">Ha eszedbe jut időnként, hogy egy kis szünetet kellene tartani, gyere el hozzánk. Vendégházunkban a környezet és a stílus egymással harmóniában garantálják a nyugodt környezetet a kikapcsolódáshoz.</p>

			</div>
			<div class="image">
				<img class="editable" src="{% include relative-src.html%}images/szoba.jpg" alt="Szoba" />
			</div>
		</div>
	</section>

	<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Aktív pihenés</h2>
					<p class="editable">Azok számára akik aktívan szeretnék tölteni szabadnapjaikat, Lengyeltóti számos lehetőséget kínál. A Csalogány Uszoda egész évben várja azokat akik úszással szeretnék levezetni mozgásigényüket. A dombokkal ölelt környéket kerákpárral felfedezni nagyon egyszerű a vendégházunkban bérelhető kerékpárokkal. A Balaton, Csiszta-Puszta, és akár Somogyvár is elérhető kiépített kerékpárúton vagy alacsony forgalmú közúton.</p>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/orszagut.jpg" alt="Országút" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Gyógyfürdő</h2>
					<p class="editable">A szállástól alig 10km-re található a csisztapusztai gyógyfürdő, ami híres gyógyhatású thermálvizéről. A világ több pontjáról visszajárnak vendégek, hogy mozgásszervi és reumatikus betegségeiket, nőgyógyászati, bél- és gyomorpanaszaikat kezeljék.</p>

				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/csiszta.jpg" alt="Csisztapuszta gyógyfürdő" />
				</div>
			</div>
		</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Foglalj szállást még ma</h2>
				<p class="subtext editable">Kihagyhatatlan ajánlatok</p>
				<div class="cta button alt"><a href="https://ibe.sabeeapp.com/properties/Servus-foglalás/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
			</div>
		</div>
	</section>
</div>
