---
title: Our story
description: Servus is a stylish guesthouse in Somogy county and this is our story.
image: images/ut.jpg
lang: en
ref: rooms
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our Story</h1>
			<p class="subtext editable">Servus is a stylish guesthouse in Somogy county and this is our story</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Standard</h2>
					<p class="editable">If you ever think that you should quit the rut and take a pause, come and visit us. In our guesthouse the harmony of the surroundings and the style guarantees a calm and realxing environment for our guests seeking refuge from the monotony of daily work.</p>

				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/szoba.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Standard plus</h2>
					<p class="editable">If you ever think that you should quit the rut and take a pause, come and visit us. In our guesthouse the harmony of the surroundings and the style guarantees a calm and realxing environment for our guests seeking refuge from the monotony of daily work.</p>

				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/szoba.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Superior saloon</h2>
					<p class="editable">If you ever think that you should quit the rut and take a pause, come and visit us. In our guesthouse the harmony of the surroundings and the style guarantees a calm and realxing environment for our guests seeking refuge from the monotony of daily work.</p>

				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/szoba.jpg" alt="Szoba" />
				</div>
			</div>
		</section>


	</div>
</section>
