---
title: Rooms
description: Stylish spaces in an elegant villa.
image: images/parna.jpg
lang: en
ref: rooms
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Rooms</h1>
			<p class="subtext editable">Stylish spaces in an elegant villa.</p>
		</div>
	</div>
</section>


<div class="content">

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Superior saloon</h2>
			<p class="editable">The salon features one double room and one living room with beds for maximum of 5 people and private bathroom.</p>
<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Book now</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/room-szalon.jpg" alt="Szoba" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container">
		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Standard</h2>
					<p class="editable">Double room for two people</p>
<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Book now</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-ut.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Standard plus</h2>
					<p class="editable">Room for three people with one double bed and one single.</p>
<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=en">Book now</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-pipacs.jpg" alt="Szoba" />
				</div>
			</div>
		</section>


	</div>
</section>
	</div>
