---
title: Rooms
description: Stylish spaces in an elegant villa.
image: images/parna.jpg
lang: en
ref: rooms
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Rooms</h1>
			<p class="subtext editable">Stylish spaces in an elegant villa.</p>
		</div>
	</div>
</section>

<div class="content">


		<section class="info">
			<div class="container">


				<section class="info">
					<div class="container flex">
						<div class="text">
											<h2 class="editable">Superior Salon</h2>
											<h3 class="editable">Servus 4</h3>

											<p class="editable">The accomodation located in the villa building consists of a large living room and a spacious bedroom. A good night sleep is guaranteed on the king size bed, sofa bed or single bed in the room. The total occupancy for this accomodation is 5. We can provide a baby cot for families staying with us. This room benefits from having a private bathroom attached to it. </p>


			<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
						</div>
						<div class="image">
							<img class="editable" src="{% include relative-src.html%}images/salon.jpg" alt="Szoba" />
						</div>
					</div>
				</section>



				<section class="info">
					<div class="container flex">
						<div class="text">
											<h2 class="editable">Standard Plus</h2>
											<h3 class="editable">Servus 4</h3>
											<p class="editable">This little room is one of the most booked amoung our facilities. The room located in the villa has three single beds, two of them pushed together by default. The total occupancy is three but we can also provide a baby cot for families staying with us. The room shares the bathroom with one other room. </p>


		<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
						</div>
						<div class="image">
							<img class="editable" src="{% include relative-src.html%}images/standard-plus.jpg" alt="Szoba" />
						</div>
					</div>
				</section>





								<section class="info">
									<div class="container flex">
										<div class="text">
															<h2 class="editable">Standard</h2>
															<h3 class="editable">Servus 4</h3>
															<p class="editable">The standard room is popular with young couples as it boasts a queen sized double bed. Room is not suitable for extra beds, hence the maximum occupancy is two. The rooms shares the bathroom with one other room. </p>


						<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
										</div>
										<div class="image">
											<img class="editable" src="{% include relative-src.html%}images/standard.jpg" alt="Szoba" />
										</div>
									</div>
								</section>






												<section class="info">
													<div class="container flex">
														<div class="text">
																			<h2 class="editable">Double Ensuite</h2>
																			<h3 class="editable">Servus 34</h3>
																			<p class="editable">Berek, Balaton and Romantika rooms await our guest with thematic decorations. All rooms have two single beds that are pushed together by default. These rooms generally can't fit an extra bed. The only exception is the Romantika room where can add either an extra bed or a baby cot. The rooms benefit from having their own private bathroom. </p>


										<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
														</div>
														<div class="image">
															<img class="editable" src="{% include relative-src.html%}images/double-ensuite.jpg" alt="Szoba" />
														</div>
													</div>
												</section>





																<section class="info">
																	<div class="container flex">
																		<div class="text">
																							<h2 class="editable">Family Ensuite</h2>
																							<h3 class="editable">Servus 34</h3>
																							<p class="editable">The Retro room is ideal for families travelling together. The room has a double bed and on top of it we have a single bunk, making the total occupancy thee. We can also provide a baby cot for the families staying here. The room benefits from having an ensuite private bathroom. </p>


														<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
																		</div>
																		<div class="image">
																			<img class="editable" src="{% include relative-src.html%}images/family.jpg" alt="Szoba" />
																		</div>
																	</div>
																</section>




																				<section class="info">
																					<div class="container flex">
																						<div class="text">
																											<h2 class="editable">Cabin</h2>
																											<h3 class="editable">Servus 34</h3>
																											<p class="editable">Seasonally we have two wooden cabins available. Tha cabins have a double bed and a single room making the total occupancy three. The two cabins share a bathroom which is located in the main building.</p>


																		<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
																						</div>
																						<div class="image">
																							<img class="editable" src="{% include relative-src.html%}images/cabin.jpg" alt="Szoba" />
																						</div>
																					</div>
																				</section>







																												<section class="info">
																													<div class="container flex">
																														<div class="text">
																																			<h2 class="editable">Triple</h2>
																																			<h3 class="editable">Servus 6</h3>
																																			<p class="editable">The triple rooms have three single beds by default. These rooms have a private bathroom only accessible for the room's guests however the bathroom is not inside the room but accessible from the corridor. The rooms can fit another extra bed and a baby cot making the maximum occupancy 4. </p>


																										<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
																														</div>
																														<div class="image">
																															<img class="editable" src="{% include relative-src.html%}images/triple.jpg" alt="Szoba" />
																														</div>
																													</div>
																												</section>




<section class="info">
<div class="container flex">
<div class="text">
<h2 class="editable">Quadruple</h2>
<h3 class="editable">Servus 6</h3>
<p class="editable">The quadruple rooms have four single beds by default. These rooms have a private bathroom only accessible for the room's guests however the bathroom is not inside the room but accessible from the corridor. The rooms can not fit another extra bed, however a baby cot can be provided making the maximum occupancy 4.</p>


																														<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
																																		</div>
																																		<div class="image">
																																			<img class="editable" src="{% include relative-src.html%}images/quadruple.jpg" alt="Szoba" />
																																		</div>
																																	</div>
																																</section>
	</div>
</section>
	</div>
