---
title: Services
description: Relexing activities outside the bed
image: images/haz4.jpg
lang: en
ref: services
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Services</h1>
			<p class="subtext editable">Relexing activities outside the bed</p>
		</div>
	</div>
</section>


<div class="content">

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Spa ticket</h2>
			<h3 class="editable">Service fee: <i>1.500 Ft/Person</i></h3>
			<p class="editable">Discounted all-day admission to the Csiszta Bath. The water of the spa is famous for its beneficial effects. It is useful in the treatment of rheumatic complaints, musculoskeletal disorders, gynecological complaints and skin disorders. The following services are available at the spa: </p>
			<ul>
			<li>hot water pools</li>
			<li>kid's pool</li>
			<li>playground</li>
			<li>deck chair</li>
			<li>massage</li>
			<li>pedicure</li>

	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-csiszta.jpg" alt="Csiszta" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Wine tasting</h2>
			<h3 class="editable">Price of the service: <i>5.500 Ft/person</i></h3>
			<p class="editable">The town is surrounded by vineyards of the Balatonboglár wine region. Now our guests can taste the local wines as part of a guided wine tasting, where they can ask directly from the winemaker. Wine tasting package includes:</p>
			<ul>
			<li>Tasting guided by a winemaker</li>
			<li>5 item wine tasting</li>
			<li>Snacks</li>
			<li>Wine shopping at a discounted price</li>

	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-bor.jpg" alt="Borkóstoló" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Escape room</h2>
			<h3 class="editable">Price of the service: <i>20.000 Ft/Game</i></h3>
			<p class="editable">You are at sea, doing patrol duty, when you see an allied supply ship that you are ordered to sink. After you have done this, a destroyer suddenly appears and in turn attacks you. You need to sink to avoid water bombs, but it's too late. They hit me, the ship was out of control and just sank. You need to repair the machines, start the engines and get up. Watch out, you will soon be discharged 150 meters away and the water pressure will be so high that it will not last more than 60 minutes and may collapse or, in worse cases, run out of breath ... Hurry up, time is running out.
			<ul>
			<li>1 hour long game inside the submarine</li>
			<li>200 rounds of ammunition for the submarine's cannon, which could be fired.</li>
			<li>Ideal for teams of 4-5 people</li>

	</ul>


<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/szabadulo.jpg" alt="Szabadulószoba" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Berek Safari</h2>
			<h3 class="editable">Price of the service: <i>5.000 Ft/Person</i></h3>
			<p class="editable">The Nagyberek is one of the most untouched pristine habitats in the country and can be viewed in the guided tour. During the one-hour safari, you will also meet big game and protected bird species and get to know the world, which inspired István Fekete to write the Tüskevár.</p>

			<ul>
			<li>1 hour long safari</li>
			<li>Off-road vehicle tour</li>
			<li>Fehérvízi Ancient Wetland</li>
			<li>Bookable from May to the end of October</li>

	</ul>


<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/berek-safari.jpg" alt="Berek Safari" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Baby sitting</h2>
			<h3 class="editable">Price of the service: <i>2.000 Ft/occasion</i></h3>
			<p class="editable">While the parents are relaxing in the neighborhood programs, a colleague is watching over the kids. Babysitting is available for up to 4 hours. </p>


<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/gyerek.jpg" alt="Gyerek megőrzés" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Bike rental</h2>
			<h3 class="editable">Price of the service: <i>500 Ft/person/day</i></h3>
			<p class="editable">he natural treasures of Pogányvölgye and the southern shore of Lake Balaton can be easily explored with a short bike tour from our accommodation. If you do not want to start alone, choose our bike tour service too!

<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/kerekpar.jpg" alt="Kerékpár kölcsönzés" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Bicycle tours</h2>
			<h3 class="editable">Price of the service: <i>3000 Ft/occasion</i></h3>
			<p class="editable">Our knowledgeable local colleague guides you through the area's bicycle paths. There are several routes to choose from, and there are shorter or longer routes in our repertoire..</p>


<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/kerekparos-tura.jpg" alt="Kerékpáros tóravezetés" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Walking tours</h2>
				<h3 class="editable">Price of the service: <i>3000 Ft/occasion</i></h3>
			<p class="editable">Our knowledgeable local colleague guides our guests on hiking trails in the area. There are several routes to choose from, and there are shorter or longer routes in our repertoire.

			</p>


<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/tura.jpg" alt="Túravezetés" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Board game rental</h2>
			<h3 class="editable">Price of servicea: <i>Free</i></h3>
			<p class="editable">We made lots of board games availablefor our guests, ask for them at the reception!</p>


<div class="cta button bk"><a href="http://servushotel.eu/contact/">Contact us by phone or email to book</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/tarsas.jpg" alt="Társasjáték" />
		</div>
	</div>
</section>



	</div>
</section>
	</div>
