---
title: Szobák
description: Stílusos szobák A Balatontól délre.
image: images/parna.jpg
lang: hu
ref: rooms
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Szobák</h1>
			<p class="subtext editable">Stílusos szobák a Balatontól délre.</p>
		</div>
	</div>
</section>

<div class="content">


		





												<section class="info">
													<div class="container flex">
														<div class="text">
																			<h2 class="editable">Double Ensuite</h2>
																			<h3 class="editable">Servus 34</h3>
																			<p class="editable">Berek, Balaton és Romantika szobáink tematikus dekorációval várják vendégeinket. A szobákban 2db Egyszemélyes ágy található, amit alapelrendezésben összetolva vehetnek igénybe vendégeink. A szobákhoz saját zuhanyzós fürdőszoba tartozik, ami tovább növeli a kényelmet. Ezek ben a szobákban jellenzően nemférnek el pótágyak, az egyetlen kivétel a romantika szoba ahol egy pótágyat tudunk biztosítani ha szükséges. </p>


										<div class="cta button bk"><a href="https://www.booking.com/Share-xOF1hw">Lefoglalom</a></div>
														</div>
														<div class="image">
															<img class="editable" src="{% include relative-src.html%}images/double-ensuite.jpg" alt="Szoba" />
														</div>
													</div>
												</section>





																<section class="info">
																	<div class="container flex">
																		<div class="text">
																							<h2 class="editable">Family Ensuite</h2>
																							<h3 class="editable">Servus 34</h3>
																							<p class="editable">A családi szobánk berendezése három fő számára nyújt kényelmes lehetőséget az alvásra. A szobában egy franciaágy található aminek a tetején egy egyszemélyes emelet van. A szobában van hely egy csecsemőágy elhelyezésére is ami igazán családiassá teszi. A szobához saját zuhanyzós fürdőszoba tertozik. </p>


														<div class="cta button bk"><a href="https://www.booking.com/Share-xOF1hw">Lefoglalom</a></div>
																		</div>
																		<div class="image">
																			<img class="editable" src="{% include relative-src.html%}images/family.jpg" alt="Szoba" />
																		</div>
																	</div>
																</section>




																				<section class="info">
																					<div class="container flex">
																						<div class="text">
																											<h2 class="editable">Cabin</h2>
																											<h3 class="editable">Servus 34</h3>
																											<p class="editable">Idényjellegűen foglalható két faházunk amikben egy franciaágy és egy darab pótágy biztosítja vendégeink kényelmét így 3 fő befogadására alkalmasak ezek a szállások. A faházhoz közös fürdőszoba tartozik, ami a főépületben található és a teraszon keresztül közelíthető meg. </p>


																		<div class="cta button bk"><a href="https://www.booking.com/Share-xOF1hw">Lefoglalom</a></div>
																						</div>
																						<div class="image">
																							<img class="editable" src="{% include relative-src.html%}images/cabin.jpg" alt="Szoba" />
																						</div>
																					</div>
																				</section>







																												
	</div>
</section>
	</div>
