---
title: Szobák
description: Stílusos szobák egy elegáns villában.
image: images/parna.jpg
lang: hu
ref: rooms
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Szobák</h1>
			<p class="subtext editable">Stílusos szobák egy elegáns villában.</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
			<div class="container flex">
				<div class="text">
									<h2 class="editable">Superior saloon</h2>
									<p class="editable">A Szalon egy hálószobából és hozzá tartozó nappaliból áll. Összesen öt fő elhelyezésére alkalmas és saját fürdőszoba tartozik hozzá.</p>


<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-szalon.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Standard plus</h2>
					<p class="editable">Szoba három fő részére. Dupla ágy és szimpla ágy.</p>
<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-pipacs.jpg" alt="Szoba" />
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
							<h2 class="editable">Standard</h2>
				<p class="editable">Dupla szoba franciaággyal két személy részére. </p>	<div class="cta button bk"><a href="https://ibe.sabeeapp.com/properties/Servus-booking/?p=bSp147edacc1b4d69a6&l=hu">Lefoglalom</a></div>
				</div>
				<div class="image">
					<img class="editable" src="{% include relative-src.html%}images/room-ut.jpg" alt="Szoba" />
				</div>
			</div>
		</section>


	</div>
</section>
