---
title: Szolgáltatások
description: Pihenni nem csak ágyban lehet
image: images/haz4.jpg
lang: hu
ref: services
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Szolgáltatások</h1>
			<p class="subtext editable">Pihenni nem csak ágyban lehet</p>
		</div>
	</div>
</section>




<div class="content">

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Gyógyfürdő Belépő</h2>
			<h3 class="editable">Szolgáltatás ára: <i>1.500 Ft/Fő</i></h3>
			<p class="editable">Kedvezményes egész napos belépő a Csiszta Fürdőbe. A fürdő vize messzeföldön híres jótékony hatása miatt. A teljesség igénye nélkül alkalmas az alábbi betegségek kezelésére: reumatikus panaszok, mozgászervi betegségek, nőgyógyászati panaszok valamint börbetegségek. A fürdő területén az alábbi szolgáltatásokat lehet igénybe venni: </p>
			<ul>
			<li>melegvizes medencék</li>
			<li>gyerek medence</li>
			<li>játszótér</li>
			<li>napozóágy</li>
			<li>masszázs</li>
			<li>pedikűr</li>

	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-csiszta.jpg" alt="Csiszta" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Borkóstoló</h2>
			<h3 class="editable">Szolgáltatás ára: <i>5.500 Ft/Fő</i></h3>
			<p class="editable">A várost a Balatonboglári borvidék szőlőültetvényei ölelik körül. Most a vendégeink is belekóstolhatnak a helyi borokba egy vezetett borkóstoló keretin belül, ahol közvetlenül a borásztól kérdezhetnek. A borkóstoló csomag tartalma:</p>
			<ul>
			<li>Borász által tartott kóstoló</li>
			<li>5 tétel borkóstolás</li>
			<li>Borkorcsolyák</li>
			<li>Kedvezményes bor vásárlási lehetőség</li>

	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-bor.jpg" alt="Borkóstoló" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Szabadulószoba</h2>
			<h3 class="editable">Szolgáltatás ára: <i>20.000 Ft/Alkalom</i></h3>
			<p class="editable">A tengeren vagytok, éppen járőr szolgálatot teljesítetek, amikor is megláttok egy szövetséges ellátóhajót, amit a parancs szerint el kell süllyesztenetek. Miután ezt megtettétek, váratlanul feltűnik egy romboló, ami viszont titeket támadott meg. Süllyednetek kell, hogy elkerüljétek a vízibombákat, de már késő. Eltaláltak, irányíthatatlan a hajó és csak süllyedtek. Meg kell javítani a gépeket, el kell indítani a motorokat, és fel kell emelkednetek. Vigyázzatok, hamar lemerültök 150 méterre és ott már akkora a víznyomás, hogy 60 percnél többet nem bír ki a hajótest és összeroppanhat, vagy rosszabb esetben elfogyhat a levegőtök… Siessetek, fogy az idő.
			<ul>
			<li>1 órás szabaduló játék a tengeralattjáróban</li>
			<li>200 darab lőszer a tengeralattjárón lévő fedélzeti ágyúhoz, amit mindjárt el is lőhettek.</li>
			<li>4-5 fős csapatoknak ideális</li>

	</ul>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/szabadulo.jpg" alt="Szabadulószoba" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Berek Safari</h2>
			<h3 class="editable">Szolgáltatás ára: <i>5.000 Ft/Fő</i></h3>
			<p class="editable">Pogányvölgye természeti kincsei és a Balaton déli partja is könnyen felfedezhető egy rövid kerékpáros túrával szálláshelyünkről indulva. Ha nem szívesen indul el egyedül, válassza kerékpáros túravezetés szolgáltatásunkat is!</p>

			<ul>
			<li>1 órás safari</li>
			<li>Terepjárós túra</li>
			<li>Fehérvízi ősláp megtekintése</li>
			<li>Májustól Október végéig foglalható</li>

	</ul>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/berek-safari.jpg" alt="Berek Safari" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Gyerek megőrzés</h2>
			<h3 class="editable">Szolgáltatás ára: <i>2.000 Ft/alkalom</i></h3>
			<p class="editable">Amíg a szülők kikapcsolódnak a környék programjainál kollégánt vigyáz a gyrekekre. A gyermekmegőrzés maximum 4 órára vehető igénybe. </p>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/gyerek.jpg" alt="Gyerek megőrzés" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Kerékpár kölcsönzés</h2>
			<h3 class="editable">Szolgáltatás ára: <i>500 Ft/Fő/nap</i></h3>
			<p class="editable">A Nagyberek az ország egyik legérintetlenebb őslápos élőhelye amit vezetett tóra keretében tekinthet meg. Az 1 órás időtartamú safari során nagyvadakkal és védett madárfajokkal is találkozhatunk és megismerhetjük a világot ami Fekete Istvánt a Tüskevár megírására inspirálta.</p>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/kerekpar.jpg" alt="Kerékpár kölcsönzés" />
		</div>
	</div>
</section>

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Kerékpáros túravezetés</h2>
			<h3 class="editable">Szolgáltatás ára: <i>3000 Ft/alkalom</i></h3>
			<p class="editable">Remek helyismerettel rendelkező kollégánk kalauzolja el vendégeinket a környék kerékpárótjain. Több útvonal közül lehet választani, rövidebb-hosszabb utak is vannak a repertoárunkban.</p>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/kerekparos-tura.jpg" alt="Kerékpáros tóravezetés" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Gyalogos túravezetés</h2>
			<h3 class="editable">Szolgáltatás ára: <i>3000 Ft/alkalom</i></h3>
			<p class="editable">Remek helyismerettel rendelkező kollégánk kalauzolja el vendégeinket a környék turistaútjain. Több útvonal közül lehet választani, rövidebb-hosszabb utak is vannak a repertoárunkban.</p>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/tura.jpg" alt="Túravezetés" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Társasjáték bérlés</h2>
			<h3 class="editable">Szolgáltatás ára: <i>Ingyenes</i></h3>
			<p class="editable">Vendégeink számára rengeteg társasjátékkal készültünk, kérd őket a recepción!</p>


<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/tarsas.jpg" alt="Társasjáték" />
		</div>
	</div>
</section>



	</div>
</section>
	</div>
