---
title: Szolgáltatások
description: Pihenni nem csak ágyban lehet
image: images/haz4.jpg
lang: hu
ref: services
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Szolgáltatások</h1>
			<p class="subtext editable">Pihenni nem csak ágyban lehet</p>
		</div>
	</div>
</section>




<div class="content">

<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Gyógyfürdő Belépő</h2>
			<h3 class="editable">Szolgáltatás ára: <i>1.500 Ft/Fő</i></h3>
			<p class="editable">Kedvezményes egész napos belépő a Csiszta Fürdőbe. A fürdő vize messzeföldön híres jótékony hatása miatt. A teljesség igénye nélkül alkalmas az alábbi betegségek kezelésére: reumatikus panaszok, mozgászervi betegségek, nőgyógyászati panaszok valamint börbetegségek. A fürdő területén az alábbi szolgáltatásokat lehet igénybe venni: </p>
			<ul>
			<li>melegvizes medencék</li>
			<li>gyerek medence</li>
			<li>játszótér</li>
			<li>napozóágy</li>
			<li>masszázs</li>
			<li>pedikűr</li>

	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-csiszta.jpg" alt="Csiszta" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Borkóstoló</h2>
			<h3 class="editable">Szolgáltatás ára: <i>5.500 Ft/Fő</i></h3>
			<p class="editable">A várost a Balatonboglári Borrégió szőlőültetvényei ölelik körül. Most a vendégeink is belekóstolhatnak a helyi borokba egy vezetett borkóstoló keretin belül, ahol közvetlenül a borásztól kérdezhetnek. A borkóstoló csomag tartalma:</p>
			<ul>
			<li>Borász által tartott kóstoló</li>
			<li>5 tétel borkóstolás</li>
			<li>Borkorcsolyák</li>
			<li>Kedvezményes bor vásárlási lehetőség</li>

	</ul>
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-bor.jpg" alt="Borkóstoló" />
		</div>
	</div>
</section>



<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">Kerékpár kölcsönzés</h2>
			<h3 class="editable">Szolgáltatás ára: <i>500 Ft/Fő/nap</i></h3>
			<p class="editable">Pogányvölgye természeti kincsei és a Balaton déli partja is könnyen felfedezhető egy rövid kerékpáros túrával szálláshelyünkről indulva. Ha nem szívesen indul el egyedül, válassza kerékpáros túravezetés szolgáltatásunkat is!</p>
		
<div class="cta button bk"><a href="http://servushotel.eu/kapcsolat/">Keressen minket telefonon vagy emailben a foglaláshoz</a></div>
		</div>
		<div class="image">
			<img class="editable" src="{% include relative-src.html%}images/elmeny-bor.jpg" alt="Kerékpár kölcsönzés" />
		</div>
	</div>
</section>

	</div>
</section>
	</div>
