---
title: Újranyitási tájékoztató
description: VÁRUNK a SERVUS-ban a DÉL-BALATON legbiztonságosabb szállásán.
image: images/taj.jpg
lang: hu
ref: covid
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Újranyitási tájékoztató</h1>
			<p class="subtext editable">VÁRUNK a SERVUS-ban a DÉL-BALATON legbiztonságosabb szállásán.</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
				<div class="container flex">
					<div class="text">
						<h2 class="editable">VÁRUNK a SERVUS-ban a DÉL-BALATON legbiztonságosabb szállásán. </h2>
						<p class="editable">Vendégeink biztonsága érdekében mindhárom vendégházunkat fertőtlenítettük.

2020.05. 29-től   szigorú higiéniai szabályok betartása mellett minden vendégszobánk újra foglalható.


1.  A szobák, a közösségi terek, a wellness, és a mosdók takarítására, fertőtlenítésére a szokásosnál is nagyobb hangsúlyt fektetünk.
2. Étkező, konyhai eszközök tisztítása és fertőtlenítése kiemelt higiéniai szabályok mellett történik.
3. A személyzet maszkban és kesztyűben végezi a munkáját.
4. A bejelentkezésnél biztosítjuk a távolságtartást és a sorbaállás elkerülését:
- a bejelentőlap kitöltéséhez szükséges adatokat elegendő online, vagy telefon üzenetben megküldeni,
- érkezéskor az általános információkat írásos formában a szobában találják a vendégek,
5. Javasoljuk a mobiltelefonhívást a recepcióval történő kommunikációra.
6. Mind a bejelentkezéskor, mind a kijelentkezéskor  kötelező a 1,5 méteres távolság betartása.
7. Javasoljuk, hogy a tartózkodási idő alatt átutalással rendezd a szálláshely számláját, így  elkerülhető az elutazás időszakában a hosszabb várakozási idő.
8. Az étkezőben a vendégasztalokat 1,5 méter távolságban helyeztük el, leülni a megterített asztaloknál van lehetőség, a reggelit felszolgáljuk.
9. Az étkezés befejezése után minden asztalt, széket, eszközt fertőtlenítünk.
10. A vendégek rendelkezésére álló kényelmi szolgáltatások (terasz, wellness, sporteszközök, játékok) használatára maximális létszámot határoztunk meg, tisztaságára fokozott figyelmet fordítunk.
11. A Wellness házat csak egy szobában lévő vendégek vagy családok használhatják.
12. Masszázsmedencét klórral fertőtlenítjük.
13. A napozóágyakat, sport és játékeszközöket,  felszereléseket kollégáink folyamatosan fertőtlenítik, de ez igény esetén egyénileg is megtehető a kihelyezett fertőtlenítőszerek segítségével.

A szigorúbb szabályok mindannyiunk érdekét szolgálják. Azért, hogy Vendégeik pihenése biztonságosan és nyugodtan telhessen, a vendégházak területén kötelező megtartani az egymástól való 1,5 méteres távolságot.


Szeretettel várunk MINDENKIT a SERVUS-ban!



						 </p>
							</div>
					<div class="image">
						<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
					</div>
				</div>
		</section>




	</div>
</section>
