---
title: Vendégház
description: Servus egy stílusos vendégház a somogyi dombok ölelésében.
image: images/haz4.jpg
lang: hu
ref: guesthouse
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Vendégház</h1>
			<p class="subtext editable">Servus egy stílusos vendégház a somogyi dombok ölelésében</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<section class="info">
				<div class="container flex">
					<div class="text">
						<h2 class="editable">A Ház</h2>
						<p class="editable">Lengyeltóti és Pogányvölgye az Árpád-kor óta lakott környék volt. A település a középkorban mindvégig a neves Tóti Lengyel család ősi fészke és birtoka volt, innen kapta később a település is mai Lengyeltóti nevét. Később, részben vétel, részben örökség útján, az Inkey családra szállt és az Inkey családé maradt egészen 1860-ig, ekkor csere útján a Zichy családé lett, az 1900-as évek elején is gróf Zichy Bélának volt itt a legnagyobb birtoka és két kastélya.

A Zichy család jó gazdája volt a vidéknek, sok fejlesztés valósult meg az ő idejükben. 1895-ben a gróf egy nagyobb összeget adományozott a közjónak további fejlesztésekre. A település központjában álló járásbíróság mellett ebből az összegből épült fel a járásbíró rezidenciája a milleneum évében.

A házat a későbbiekben a mindenkori járásbíró és magas beosztású közszolgák lakták és élénk társadalmi élet helyszínéül szolgált. Ehhez hozzájárult, hogy a kaszinó épülete egy karnyújtásnyira az utca túloldalán helyezkedett el és minden valamire való környékbeli legalább egyer megfordult ott.


						 </p>
							</div>
					<div class="image">
						<img class="editable" src="{% include relative-src.html%}images/haz2.jpg" alt="Terasz" />
					</div>
				</div>
		</section>

			<section class="info">
				<div class="container flex">
					<div class="text">
						<h2 class="editable">Környezet</h2>
						<p class="editable">
							A Balaton déli partjának dobjai, Észak-Somogy halastavai és szőlőlugasai ölelésében fekszik Pogányvölgye, különleges helyi hagyományok és természeti értékek őshazája. A terület a magyar történelem legkorábbi ideje óta lakott és az ősi pogány hitet valló Koppány vezér hátországaként lehet ismerős többeknek. A térség elnevezése is utal arra, hogy a környéken fellelhető történelmi emlékek több mint egy évezred történéseit hozzák karnyújtásnyi távolságra. A környék egész éven át nyújt programokat az ide látogatóknak.	Történelem rajongóknak kihagyhatatlan Somogyvár történelmi emlékhelye és az Árpád-kori templom Gyugyon. Azoknak is tartogat látványosságokat a terület akik a természet kincseit keresik. A halastavak Hácson vagy a „magyar tenger” kiváló kikapcsolódási lehetőséget nyújtanak. Lengyeltóti a térség központja egy igazi kis ékszerdoboz ahol a levegős parkok és a város határában lévő borászatok mindenkivel
						</p>

					</div>
					<div class="image">
						<img class="editable" src="{% include relative-src.html%}images/szoba.jpg" alt="Szoba" />
					</div>
				</div>
			</section>




	</div>
</section>
